---
import AmexLogo from "@assets/logos/amex.svg?url";
import ArmLogo from "@assets/logos/arm.svg?url";
import SaabLogo from "@assets/logos/saab.svg?url";
import OctopusIcon from "@assets/logos/octopus.svg?url";
import OctopusWordmark from "@assets/logos/octopus-logo.svg?url";
import EriLogo from "@assets/logos/ERI_horizontal_RGB.svg?url";
---

<div class="mt-6 md:mt-8 w-full">
  <div class="rounded-lg px-4 py-3 md:px-6 md:py-4">
    <div
      class="flex flex-wrap md:flex-nowrap items-center justify-center gap-3"
    >
      <p class="m-0 text-xs text-secondary whitespace-nowrap">
        Trusted by 300K top teams
      </p>

      <div
        class="flex flex-wrap sm:flex-nowrap items-center justify-center gap-x-5 gap-y-3"
      >
        <img
          src={AmexLogo}
          alt="American Express logo"
          width="58"
          height="18"
          class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale"
          loading="lazy"
          decoding="async"
        />
        <img
          src={ArmLogo}
          alt="ARM logo"
          width="72"
          height="22"
          class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale"
          loading="lazy"
          decoding="async"
        />
        <img
          src={SaabLogo}
          alt="Saab logo"
          width="84"
          height="22"
          class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale"
          loading="lazy"
          decoding="async"
        />

        <div class="flex items-center gap-[6px]">
          <img
            src={OctopusIcon}
            alt="Octopus icon"
            width="24"
            height="26"
            class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale"
            loading="lazy"
            decoding="async"
          />
          <img
            src={OctopusWordmark}
            alt="Octopus Energy logo"
            width="112"
            height="16"
            class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale"
            loading="lazy"
            decoding="async"
          />
        </div>

        <img
          src={EriLogo}
          alt="ERI logo"
          width="78"
          height="16"
          class="w-auto max-w-[74px] max-h-[42px] h-auto object-contain grayscale invert"
          loading="lazy"
          decoding="async"
        />
      </div>
    </div>
  </div>
</div>
