---
import Card from "@components/cards/Card.astro";
import { getAgentSpaceCards } from "../../../data/agentSpaceCardData";

const cards = (await getAgentSpaceCards()).slice(0, 6);
---
<div class="container max-w-7xl mx-auto mt-12 md:mt-24 px-2 lg:px-0">
  <h2 class="mb-6 text-center! text-3xl! md:text-4xl! lg:text-5xl! tracking-[-0.015em]! text-balance! max-w-4xl! mx-auto!">
    Real AI workflows, real solutions,  
    <span class="text-primary">real results.</span>
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-2">
    {
      cards.map((card) => (
        <Card
          tag={`/${card.department}`}
          label={card.name}
          description={card.description}
          linkUrl={card.linkUrl}
          openInNewTab={false}
          showLinkIcon={false}
        />
      ))
    }
  </div>
</div>
