---
const { frontmatter, enableTransitions = false, transitionKey = '' } = Astro.props;
import Layout from './MainLayout.astro';
import { format } from 'date-fns';
const publishDate = frontmatter.publishDate;

---

<Layout enableTransitions={enableTransitions}>
  <div class="max-w-xl mx-auto w-full">
    <h1 class="post-title mb-4 mt-24" transition:name={`${transitionKey}-title`}>
      {frontmatter.title}
    </h1>
    <div class="post-meta" transition:name={`${transitionKey}-meta`}>
      {publishDate && (
        <time datetime={publishDate.toISOString()}>
          {format(publishDate, 'MMM d, yyyy')}
        </time>
      )}
      {frontmatter.author && (
        <span>
          {publishDate ? 'by ' : 'By '}
          {frontmatter.author}
        </span>
      )}
    </div>
  </div>
  <div class="max-w-xl mx-auto w-full">
    <slot />
  </div>
</Layout>
